.btn {
    padding: 10px 14px;
    border: none;
    background: #c89fd3;
    color: white;
    border-radius: 5px;
    font-size: 20px;
}

.modal-container {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.3);
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s ease;
}

.modal {
    width: 500px;
    max-width: 100%;
    background-color: white;
    padding: 30px 20px;
    border-radius: 10px;
    margin: 30px auto;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

.close-div {
    text-align: right;
}

.visible {
    visibility: visible;
    opacity: 1;
}

.ani {
    animation: abob .8s ease;
}

@keyframes abob {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0%);
    }
}